.chatbot-container {
  position: fixed;
  bottom: 0px;
  right: 30px;
  background: #2b2b2b;
  color: white;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chatbot-popup {
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 320px;
  background: #1f1f1f;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chatbot-header {
  padding: 10px;
  background: #2b2b2b;
  display: flex;
  justify-content: space-between;
}

.chatbot-messages {
  padding: 10px;
  height: 250px;
  overflow-y: auto;
}

.user-message {
  background: #4caf50;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
  align-self: flex-end;
}

.bot-message {
  background: #333;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
}

.chatbot-input {
  display: flex;
  padding: 10px;
  gap: 5px;
}

.chatbot-input input {
  flex: 1;
  padding: 8px;
}

.chatbot-input button {
  padding: 8px 12px;
}
